<div class="im-layout">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class="im-toogle"><i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i></div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <span><i nz-icon type="contacts"></i><span class="nav-text">Contacts</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon type="shopping-cart"></i><span class="nav-text">Orders</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon type="gift"></i><span class="nav-text">Products</span></span>
        </li>
        <li nz-menu-item>
          <span><i nz-icon type="bar-chart"></i><span class="nav-text">Reports</span></span>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="setting"></i><span class="nav-text">Settings</span></span>
          <ul>
            <li nz-menu-item>Account</li>
            <li nz-menu-item>Properties</li>
          </ul>
        </li>
        
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
      </nz-header>
      <nz-content style="margin:0 16px;">
        <div class="im-body">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <ng-template #trigger>
    <i nz-icon type="up"></i>
  </ng-template>
</div>